{:module-uris {:footer-subscription-form ["/wp-content/themes/basetheme/assets/js/cljs/cljs-runtime/com.clupclup.app_script.footer_subscription_form.js" "/wp-content/themes/basetheme/assets/js/cljs/cljs-runtime/shadow.module.footer-subscription-form.append.js"], :home-subscription-form ["/wp-content/themes/basetheme/assets/js/cljs/cljs-runtime/com.clupclup.app_script.home_subscription_form.js" "/wp-content/themes/basetheme/assets/js/cljs/cljs-runtime/shadow.module.home-subscription-form.append.js"], :hamburger-menu ["/wp-content/themes/basetheme/assets/js/cljs/cljs-runtime/com.clupclup.app_script.hamburger_menu.js" "/wp-content/themes/basetheme/assets/js/cljs/cljs-runtime/shadow.module.hamburger-menu.append.js"], :dev ["/wp-content/themes/basetheme/assets/js/cljs/cljs-runtime/cljs.dev.js" "/wp-content/themes/basetheme/assets/js/cljs/cljs-runtime/shadow.module.dev.append.js"]}, :module-infos {:footer-subscription-form #{}, :home-subscription-form #{}, :hamburger-menu #{}, :dev #{}}}