/* WordPress
--------------------------------------------- */
a.aligncenter img {
  display: block;
  margin: 0 auto; }

a.alignnone {
  display: inline-block; }

.alignleft {
  float: left;
  text-align: left; }

.alignright {
  float: right;
  text-align: right; }

a.alignleft,
a.alignnone,
a.alignright {
  max-width: 100%; }

img.centered,
.aligncenter {
  display: block;
  margin: 0 auto 30px; }

img.alignnone,
.alignnone {
  margin-bottom: 15px; }

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
  margin: 0 20px 20px 0; }

a.alignright,
img.alignright,
.wp-caption.alignright {
  margin: 0 0 20px 20px; }

.gallery-caption,
.wp-caption-text {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  text-align: center; }

.entry-content p.wp-caption-text {
  margin-bottom: 0; }

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
  margin: 0 0 30px; }

/* Title Area
--------------------------------------------- */
.title-area {
  float: left;
  padding-bottom: 25px;
  padding-top: 25px; }

.wp-custom-logo .title-area {
  max-width: 350px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%; }

.wp-custom-logo .title-area img {
  width: auto; }

.site-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 0; }

.site-title a,
.site-title a:focus,
.site-title a:hover {
  color: #333;
  text-decoration: none; }

.site-description,
.wp-custom-logo .site-title {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; }

/* Site Header
---------------------------------------------------------------------------- */
.site-header {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  padding: 0 30px; }
  @media only screen and (min-width: 960px) {
    .site-header {
      position: fixed;
      width: 100%;
      z-index: 9999; } }

/* Genesis Menu
---------------------------------------------------------------------------- */
.genesis-nav-menu {
  clear: both;
  line-height: 1;
  width: 100%; }

.genesis-nav-menu .menu-item {
  display: block;
  float: none;
  position: relative; }
  @media only screen and (min-width: 960px) {
    .genesis-nav-menu .menu-item {
      display: inline-block; } }

.genesis-nav-menu a {
  color: #333;
  display: block;
  font-size: 15px;
  font-weight: 400;
  outline-offset: -1px;
  padding-bottom: 12px;
  padding-top: 12px;
  text-decoration: none; }

.genesis-nav-menu a:focus,
.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
  color: #0073e5;
  text-decoration: none; }

@media only screen and (min-width: 960px) {
  .genesis-nav-menu a:focus,
  .genesis-nav-menu a:hover {
    position: relative; } }

.genesis-nav-menu .sub-menu,
.genesis-nav-menu .sub-menu a {
  width: 100%; }

.genesis-nav-menu .sub-menu {
  clear: both;
  display: none;
  left: -9999px;
  margin: 0;
  opacity: 1;
  padding-left: 15px;
  position: static;
  z-index: 99; }

.genesis-nav-menu .sub-menu a {
  background-color: #fff;
  font-size: 14px;
  position: relative;
  word-wrap: break-word; }

.genesis-nav-menu .menu-item:focus,
.genesis-nav-menu .menu-item:hover {
  position: relative; }

.genesis-nav-menu .menu-item:hover > .sub-menu {
  display: block;
  left: auto;
  opacity: 1; }

@media only screen and (min-width: 960px) {
  .genesis-nav-menu > .menu-bold > a {
    font-weight: 700; }
  .genesis-nav-menu > .menu-highlight > a {
    background-color: #333;
    border-radius: 3px;
    color: #fff;
    font-weight: 600;
    margin-left: 15px;
    padding-left: 20px;
    padding-right: 20px; }
  .genesis-nav-menu > .menu-highlight > a:focus,
  .genesis-nav-menu > .menu-highlight > a:hover {
    background-color: #0073e5; }
  .genesis-nav-menu .sub-menu,
  .genesis-nav-menu .sub-menu a {
    width: 180px; }
  .genesis-nav-menu .sub-menu {
    border-top: 1px solid #eee;
    opacity: 0;
    padding-left: 0;
    position: absolute;
    transition: opacity 0.4s ease-in-out; }
  .genesis-nav-menu .sub-menu a {
    border: 1px solid #eee;
    border-top: 0;
    padding-bottom: 15px;
    padding-top: 15px; }
  .genesis-nav-menu .sub-menu .sub-menu {
    margin: -46px 0 0 179px; } }

/* Breadcrumb
---------------------------------------------------------------------------- */
.breadcrumb {
  border-bottom: 1px solid #eee;
  font-size: 16px;
  margin-bottom: 40px;
  padding-bottom: 10px; }

/* Header Menu
--------------------------------------------- */
.nav-primary {
  clear: left;
  padding-bottom: 15px;
  padding-top: 15px;
  width: 100%; }
  @media only screen and (min-width: 960px) {
    .nav-primary {
      clear: none;
      float: right;
      width: auto; } }

@media only screen and (min-width: 960px) {
  .nav-primary .genesis-nav-menu a {
    padding-left: 15px;
    padding-right: 15px; } }

/* Footer Menu
--------------------------------------------- */
.nav-secondary {
  margin-top: 10px; }

.nav-secondary .genesis-nav-menu {
  line-height: 1.5; }

.nav-secondary .menu-item {
  display: inline-block; }

.nav-secondary a {
  margin-left: 10px;
  margin-right: 10px;
  padding: 0; }

/* Responsive Menu
--------------------------------------------- */
.menu .menu-item:focus {
  position: static; }

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
  left: auto;
  opacity: 1; }

.genesis-responsive-menu {
  display: none;
  position: relative; }
  @media only screen and (min-width: 960px) {
    .genesis-responsive-menu {
      display: block;
      padding-top: 15px; } }

.genesis-responsive-menu .genesis-nav-menu .menu-item:hover > .sub-menu {
  display: none; }

.menu-toggle,
.sub-menu-toggle {
  background-color: transparent;
  border-width: 0;
  color: #333;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  visibility: visible; }
  @media only screen and (min-width: 960px) {
    .menu-toggle,
    .sub-menu-toggle {
      display: none;
      visibility: hidden; } }

.menu-toggle:focus,
.menu-toggle:hover,
.sub-menu-toggle:focus,
.sub-menu-toggle:hover {
  background-color: transparent;
  border-width: 0;
  color: #0073e5; }

.menu-toggle {
  float: right;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 15px 0;
  position: relative;
  z-index: 1000; }

.menu-toggle.activated::before {
  content: "\f335"; }

.site-header .menu-toggle::before {
  float: left;
  margin-right: 5px;
  position: relative;
  text-rendering: auto;
  top: 1px; }

.sub-menu-toggle {
  float: right;
  padding: 9px 10px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100; }

.sub-menu .sub-menu-toggle {
  padding: 12px 10px; }

.sub-menu-toggle::before {
  display: inline-block;
  text-rendering: auto;
  transform: rotate(0);
  transition: transform 0.25s ease-in-out; }

.sub-menu-toggle.activated::before {
  transform: rotate(180deg); }

/* Pagination
--------------------------------------------- */
.pagination {
  clear: both;
  margin: 60px 0;
  width: 100%;
  display: flex; }

.archive-pagination ul {
  margin: 0 auto; }

.adjacent-entry-pagination {
  margin-bottom: 0; }

.archive-pagination li {
  display: inline; }

.archive-pagination li a {
  background-color: #f5f5f5;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
  padding: 8px 12px;
  text-decoration: none; }

.archive-pagination li.active a {
  background-color: #333;
  color: #fff; }

.archive-pagination li a:focus,
.archive-pagination li a:hover {
  background-color: #ea4335;
  color: #fff; }

/* Search Forms
--------------------------------------------- */
.search-form {
  overflow: hidden;
  width: 100%;
  margin: 0; }

.entry-content .search-form {
  margin-bottom: 40px;
  width: 50%; }

.header-second .search-form:before {
  position: absolute;
  line-height: 1.4;
  pointer-events: none;
  color: #333;
  content: "\e906";
  font-family: "pabelog-icons-set" !important;
  font-size: 30px;
  margin: 5px;
  margin-left: 16px;
  float: none;
  opacity: 0.3; }

.post-password-form input[type="submit"],
.search-form input[type="submit"] {
  margin-top: 10px; }

.widget_search input[type="submit"],
.header-second input[type="submit"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px; }

.search-form input[type="search"] {
  padding-left: 65px; }

/* Entry Meta
--------------------------------------------- */
p.entry-meta {
  font-size: 16px;
  margin-bottom: 0; }

.entry-header .entry-meta {
  margin-bottom: 20px; }

.entry-footer .entry-meta {
  border-top: 1px solid #eee;
  padding-top: 20px; }

.entry-categories,
.entry-tags {
  display: block; }

.entry-comments-link::before {
  content: "\2014";
  margin: 0 6px 0 2px; }

/* Entry Content
--------------------------------------------- */
.entry {
  margin-bottom: 40px; }

.entry-content ol,
.entry-content ul {
  margin-bottom: 30px;
  padding-left: 40px; }

.entry-content ol > li {
  list-style-type: decimal; }

.entry-content ul > li {
  list-style-type: disc; }

.entry-content ol ul > li,
.entry-content ul ul > li {
  list-style-type: circle; }

.entry-content ol ol,
.entry-content ul ul {
  margin-bottom: 0; }

.entry-content code {
  background-color: #f5f5f5; }

.content .sticky {
  background-color: #f5f5f5;
  padding: 30px; }

/* Entry Titles
--------------------------------------------- */
.archive-description .entry-title,
.archive-title,
.author-box-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px; }

.entry-title {
  font-size: 30px;
  margin-bottom: 10px; }

.entry-title a {
  color: #333;
  text-decoration: none; }

.entry-title a:focus,
.entry-title a:hover {
  color: #0073e5; }

.author-box p:last-child {
  margin-bottom: 0; }

@media only screen and (min-width: 960px) {
  .author-box {
    background-color: #f5f5f5;
    padding: 30px; } }

/* After entry
--------------------------------------------- */
.after-entry,
.archive-description,
.author-box {
  margin-bottom: 40px; }

.after-entry {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  padding: 20px 30px; }
  @media only screen and (min-width: 960px) {
    .after-entry {
      padding: 40px 60px; } }

.after-entry .widget:last-of-type {
  margin-bottom: 0; }

.archive-description p:last-child {
  margin-bottom: 0; }

/* Featured Content
--------------------------------------------- */
.featured-content .entry {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px; }

.featured-content .entry:last-of-type {
  border-bottom: none;
  margin-bottom: 0; }

.featured-content .entry-title {
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 10px; }

/*
 * The main content component used in home page (usually)
 */
a.home-cat-link {
  text-decoration: none; }

.underline-red {
  background-image: linear-gradient(#fff 70%, #f65314 10%);
  margin: 0 auto; }

.underline-green {
  background-image: linear-gradient(#fff 70%, #7cbb00 10%);
  margin: 0 auto; }

.underline-blue {
  background-image: linear-gradient(#fff 70%, #00a1f1 10%);
  margin: 0 auto; }

.underline-yellow {
  background-image: linear-gradient(#fff 70%, #ffbb01 10%);
  margin: 0 auto; }

.underline-red:hover, .underline-green:hover, .underline-blue:hover, .underline-yellow:hover {
  background-image: linear-gradient(#fff 100%, #fff 100%); }

@media only screen and (min-width: 960px) {
  .content {
    float: left;
    width: 65%; }
  .full-width-content .content,
  .landing-page .content {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  /* Entry Misc.
   * --------------------------------------------- */
  .after-entry,
  .archive-description,
  .author-box,
  .comment-respond,
  .entry,
  .entry-comments,
  .entry-pings {
    margin-bottom: 60px; } }

.hover-color-1:hover {
  color: #ea4335 !important; }

.hover-color-2:hover {
  color: #000 !important; }

.hover-color-3:hover {
  color: #fbbc05 !important; }

.hover-bg-1:hover {
  background-color: #ea4335 !important; }

.hover-bg-2:hover {
  background-color: #000 !important; }

.hover-bg-3:hover {
  background-color: #fbbc05 !important; }

/* Sidebar
---------------------------------------------------------------------------- */
.sidebar {
  font-size: 16px;
  line-height: 1.5; }
  @media only screen and (min-width: 960px) {
    .sidebar {
      float: right;
      width: 30%; } }

.sidebar .widget {
  margin-bottom: 40px; }

.sidebar p {
  margin-bottom: 20px; }

@media only screen and (min-width: 960px) {
  .sidebar-content .content {
    float: right; }
  .sidebar-content .sidebar {
    float: left; } }

/* Widgets
---------------------------------------------------------------------------- */
.widget {
  margin-bottom: 40px; }

.widget p:last-child,
.widget ul > li:last-of-type {
  margin-bottom: 0; }

.widget ul > li {
  margin-bottom: 10px; }

.widget ul > li:last-of-type {
  padding-bottom: 0; }

.widget ol > li {
  list-style-position: inside;
  list-style-type: decimal;
  padding-left: 20px;
  text-indent: -20px; }

.widget li li {
  border: 0;
  margin: 0 0 0 30px;
  padding: 0; }

.widget_calendar table {
  width: 100%; }

.widget_calendar td,
.widget_calendar th {
  text-align: center; }

/* Widgets Title
---------------------------------------------------------------------------- */
.widget-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px; }

.sidebar .widget-title a {
  color: #333;
  text-decoration: none; }

/* Entry Comments
--------------------------------------------- */
.comment-respond,
.entry-comments,
.entry-pings {
  margin-bottom: 40px; }

.comment-list li {
  padding: 40px 0 0 30px; }

.comment-list .depth-1 {
  padding-left: 0; }

.comment-header {
  margin-bottom: 30px; }

.comment-content {
  clear: both; }

.comment-content ul > li {
  list-style-type: disc; }

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
  width: 50%; }

.comment-respond label {
  display: block;
  margin-right: 12px; }

.comment-header p {
  margin-bottom: 0; }

.entry-pings .reply {
  display: none; }

.comment-form-cookies-consent label {
  display: inline;
  padding-left: 10px; }

/* Avatar
--------------------------------------------- */
.avatar {
  border-radius: 50%;
  float: left; }

.author-box .avatar,
.alignleft .avatar {
  margin-right: 20px; }

.alignright .avatar {
  margin-left: 20px; }

.comment .avatar {
  margin: 0 15px 20px 0; }

/* Site Footer
---------------------------------------------------------------------------- */
.site-footer {
  background-color: #fff;
  width: 100%; }

.site-footer p {
  margin-bottom: 0; }

/* Footer Widgets
---------------------------------------------------------------------------- */
.footer-widgets {
  background-color: #3f3f3f;
  color: #fff;
  clear: both; }

.footer-widgets .wrap {
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 960px) {
    .footer-widgets .wrap {
      max-width: 1140px; } }

.footer-widget-area {
  margin-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px; }
  @media only screen and (min-width: 960px) {
    .footer-widget-area {
      float: left;
      margin-bottom: 0;
      width: calc(100% / 3); } }

.footer-widget-area:last-child,
.footer-widgets .widget:last-child {
  margin-bottom: 0; }
