*package-lock.json
*yarn.lock
node_modules
cljs/node_modules
assets/js/cljs/
!assets/js/cljs/body-disqus-thread.js
!assets/js/cljs/body-subscription-form.js
!assets/js/cljs/cljs-base.js
!assets/js/cljs/dev.js
!assets/js/cljs/footer-subscription-form.js
!assets/js/cljs/header-hamburger-menu.js