/* Buttons
--------------------------------------------- */

@import "../../utilities/variables/colors";

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.site-container div.wpforms-container-full .wpforms-form input[type="submit"],
.site-container div.wpforms-container-full .wpforms-form button[type="submit"],
.button {
  //background-color: #333;
  border: 0;
  //border-radius: 5px;
  //color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  white-space: normal;
  width: auto;
}

button:focus,
button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
.site-container div.wpforms-container-full .wpforms-form input[type="submit"]:focus,
.site-container div.wpforms-container-full .wpforms-form input[type="submit"]:hover,
.site-container div.wpforms-container-full .wpforms-form button[type="submit"]:focus,
.site-container div.wpforms-container-full .wpforms-form button[type="submit"]:hover,
.button:focus,
.button:hover {
  background-color: $google_red;
  border-width: 0;
  color: #fff;
}

.entry-content .button:focus,
.entry-content .button:hover {
  color: #fff;
}

.button {
  display: inline-block;
}

.site-container button:disabled,
.site-container button:disabled:hover,
.site-container input:disabled,
.site-container input:disabled:hover,
.site-container input[type="button"]:disabled,
.site-container input[type="button"]:disabled:hover,
.site-container input[type="reset"]:disabled,
.site-container input[type="reset"]:disabled:hover,
.site-container input[type="submit"]:disabled,
.site-container input[type="submit"]:disabled:hover {
  background-color: #eee;
  border-width: 0;
  color: #777;
  cursor: not-allowed;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button {
  transition: all 0.2s ease-in-out;
}