/* Widgets Title
---------------------------------------------------------------------------- */

.widget-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.sidebar .widget-title a {
  color: #333;
  text-decoration: none;
}