//
// Base Entry
// ============================

@import "../../utilities/variables/colors";

@media only screen and (min-width: 960px) {
  .content {
    float: left;
    width: 65%;
  }
  .full-width-content .content,
  .landing-page .content {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  /* Entry Misc.
   * --------------------------------------------- */

  .after-entry,
  .archive-description,
  .author-box,
  .comment-respond,
  .entry,
  .entry-comments,
  .entry-pings {
    margin-bottom: 60px;
  }

}

a.hover-link-1:hover {
  color: $google_red;
}

a.hover-link-2:hover {
  color: $absolute-black;
}

a.hover-link-3:hover {
  color: $google_yellow;
}