/* Entry Titles
--------------------------------------------- */

@import "../../utilities/variables/colors";
@import "../../tachyons/variables";

.archive-description .entry-title,
.archive-title,
.author-box-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

//.entry-title {
//  font-size: 30px;
//  margin-bottom: 10px;
//}

.entry-title a {
  color: $black-70;
  text-decoration: none;
}

.entry-title a:focus,
.entry-title a:hover {
  color: $google_red;
}