//
// Colors variables
// ========================

$white: #fff;
$black: #111;

$base_color: #333;

$link__color: #c3251d;
$link__hoverColor: #333;

$body__backgroundColor: #eee;

$nav__linkColor: #333;
$primaryNav__backgroundColor: $white;
$primaryNav__linkColor: $nav__linkColor;
$secondaryNav__backgroundColor: $white;
$secondaryNav__linkColor: $nav__linkColor;


$siteFooter__backgroundColor: #eee;