//
// Colors variables
// ========================

$white: #fff;
$black: #111;
$absolute-black: #000;
$chocolate_gray: #3f3f3f;

$google_red: #ea4335;
$google_green: #34a853;
$google_blue: #4285f4;
$google_yellow: #fbbc05;

$microsoft_red: #f65314;
$microsoft_green: #7cbb00;
$microsoft_blue: #00a1f1;
$microsoft_yellow: #ffbb01;
$microsoft_grey: #727272;

$base_color: #333;

$link__color: #c3251d;
$link__hoverColor: #333;

$body__backgroundColor: #eee;

$nav__linkColor: #333;
$primaryNav__backgroundColor: $white;
$primaryNav__linkColor: $nav__linkColor;
$secondaryNav__backgroundColor: $white;
$secondaryNav__linkColor: $nav__linkColor;

// ===========================

$siteFooter__backgroundColor: #eee;
$footerWidgets__backgroundColor: $chocolate_gray;
$footerWidgets__color: $white;

